body {
  margin: 0px;
  display: flex;
}

.page {
  display: flex;
  flex-wrap: wrap;
  font-family: "Commissioner-Regular", sans-serif;
}

.postBlock {
  margin-top: 66px;
  margin-left: 203px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: scroll;
}

.header {
  z-index: 1;
  background-color:  rgb(227, 225, 254);
  border-radius: 7px 0px 0px 7px;
  height: 50px;
  padding: 8px 30px;
  display: flex;
  margin-left: 3px;
  width: 100%;
  margin-left: 203px;
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  position: fixed
}